# datasets

data/celeba/
data/mnist/

# output folders

implementations/*/temp/
implementations/*/results*/
implementations/*/images/


#pycache
implementations/*/__pycache__/
implementations/gan/__pycache__/
implementations/wgan/__pycache__/
implementations/wgan_div/__pycache__/
implementations/wgan_gp/__pycache__/
implementations/__pycache__/

# checkpoints
*.pth
*.log
